.App {
    background-color: var(--navy);
}

.app-title {
    font-family: "NTR", sans-serif;
    color: var(--lightest-slate);
    font-size: 46px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}